body {
    margin: 0;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.header-section, .button-section {
    text-align: center;
    margin: 30px 0;
}

.memory-game {
    background-color: #9f9f9fd0;

    align-items: center;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
}

.card {
    padding: 12px;

    width: 200px;
    height: 200px;
    border-radius: 7px;

    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;

    border: 5px;
    border-radius: 7px;
    box-shadow: 1px 1px 8px 2px  #1f1d1d80;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: center;
}

.flip-card {
    transform: rotateY(180deg);
}

.card-front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card-front {
    background-color: #fff;
    z-index: 5;
}

.card-back {
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
    z-index: 10;
}


/* card  images */
.card-back1 {
    background : url('https://freepngimg.com/thumb/football/36635-3-football-soccer-ball-thumb.png');
}
.card-back2 {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/016/716/602/small/shoot-gun-3d-rendeirng-png.png');
}
.card-back3 {
    background: url('https://imgs2.dab3games.com/among-us-2-online355.png');
}
.card-back4 {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/010/521/120/small/basketball-sport-balloon-free-vector.jpg');
}
.card-back5 {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/026/971/084/small/biryani-or-biryani-is-a-popular-indian-dish-made-of-basmati-rice-cooked-with-spices-and-vegetables-free-photo.jpg');
}
.card-back6 {
    background: url('https://static1.personality-database.com/profile_images/fb6997d4b3c74ac6bca1550d0f067d3e.png');
}

/* 1,11  5,12   2,8   3,7   4,10   6,9 */

.card-back7 {
    background: url('https://imgs2.dab3games.com/among-us-2-online355.png');
}
.card-back8 {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/016/716/602/small/shoot-gun-3d-rendeirng-png.png');
}
.card-back9 {
    background: url('https://static1.personality-database.com/profile_images/fb6997d4b3c74ac6bca1550d0f067d3e.png');
}
.card-back10 {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/010/521/120/small/basketball-sport-balloon-free-vector.jpg');
}
.card-back11 {
    background : url('https://freepngimg.com/thumb/football/36635-3-football-soccer-ball-thumb.png');
}
.card-back12 {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/026/971/084/small/biryani-or-biryani-is-a-popular-indian-dish-made-of-basmati-rice-cooked-with-spices-and-vegetables-free-photo.jpg');
}


/* ------------------     --------------- */

h3 {
    position: absolute;
    text-align: center;
    margin-top: -5px;
    margin-left: -63px;
    color: rgb(255, 255, 255);
}
button {
    
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 50px;
}
@media screen and (max-width: 600px) {
    h3, button {
        position: static;
        text-align: center;
    }
    .button-section{
        margin-top: 2450px;
    }
    
}

button:hover {
    background-color: #3498db;
    color: #ffffff;
}

.flip {
    animation: flipAnimation 0.5s ease-in-out;
}
.reverse-flip {
    animation: reverseFlipAnimation 0.5s ease-in-out;
}

@keyframes flipAnimation {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes reverseFlipAnimation {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
